<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Covid-19 Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <div style="text-align: center">
        <h1>Covid-19 POC</h1>
        <p>This application investigates configuration management between aws and a java app.</p>
    </div>

    <div class="jumbotron jumbotron-fluid">
        <div class="container" style="text-align: center">
            <h1 class="display-4" th:text="${currentTotalCases}"></h1>
            <p class="lead">Current Total of Confirmed Cases as of Today.</p>
            <hr class="my-3">
            <p class="lead">
                <h5 th:text="${totalNewCases}"></h5>
                <span>Total New Cases From Previous Day.</span>
            </p>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-dark">
            <thead class="bg-danger">
                <tr>
                    <th>Country</th>
                    <th>State</th>
                    <th>New Cases Since Yesterday</th>
                    <th>Total Cases Confirmed</th>
                </tr>
            </thead>
            <tr th:each="row : ${dataset}">
                <td th:text="${row.country}">country</td>
                <td th:text="${row.state}">State</td>
                <td th:text="${row.diffFromYesterday}">0</td>
                <td th:text="${row.currentTotalCases}">current total cases</td>
            </tr>
        </table>
    </div>
</div>

</body>

</html>